<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KIET Koders Korner</title>
    <link rel="icon" href="../img/k3.jpg" type="img/jpg">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
    <div class="header">
    <h1 class="title">KIET Koders Korner</h1>
    <span class="links">
    <ul class="links">
        {{#if basic}}
            <li class="link {{#if home}}active{{/if}}"><a href="/">Home</a></li>
            <li class="link {{#if team}}active{{/if}}"><a href="/team">Team</a></li>
            <li class="link {{#if sources}}active{{/if}}"><a href="/sources">Sources</a></li>
            <li class="link {{#if doubts}}active{{/if}}"><a href="/doubts">Doubts</a></li>
            <li class="link {{#if contact}}active{{/if}}"><a href="/contact ">Contact Us</a></li>
        {{/if}}
        {{#if admin}}
            <li class="link {{#if home}}active{{/if}}"><a href="/admin/">Home</a></li>
            <li class="link {{#if team}}active{{/if}}"><a href="/admin/team">Team</a></li>
            <li class="link {{#if subsciber}}active{{/if}}"><a href="/admin/subscribers">Subscribers</a></li>
            <li class="link {{#if doubts}}active{{/if}}"><a href="/admin/doubts">Doubts</a></li>
            <li class="link {{#if contact}}active{{/if}}"><a href="/admin/contact ">Contact Us</a></li>
        {{/if}}
    </ul>
    </span>
    </div>
    <div class="body">
        {{{body}}}
    </div>
    <div class="footer">
        <h4>Website created by</h4>
        <h3>Srajan Gupta</h3>
        <h3>&copy; KIET Koders Korner</h5>
    </div>
</body>
{{#if basic}}
        <script src="../js/common.js"></script>
    {{#if home}}
        <script src="../js/index.js"></script>
    {{/if}}
    {{#if team}}
        <script src="../js/team.js"></script>
    {{/if}}
    {{#if doubts}}
        <script src="../js/doubts.js"></script>
    {{/if}}
    {{#if contact}}
        <script src="../js/contact.js"></script>
    {{/if}}
{{/if}}
{{#if admin}}
    {{#if subscriber}}
        <script src="../js/admin-subscribers.js"></script>
    {{/if}}
    {{#if doubts}}
        <script src="../js/admin-doubts.js"></script>
    {{/if}}
{{/if}}
</html>