<div class="message doubtit">
    <div class="error">
        <h2>&nbsp;</h2>
    </div>
    <form action="/admin/doubt-mail" name="doubt-mail" method="post" onsubmit="return doubts()">
        <div class="doubts">
            <table class="doubts">
                <tr class="doubt-field">
                    <td class="doubt-field">Name</td>
                    <td class="doubt-field right"><input type="text" class="text" name="name" id="name" disabled></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field">E-Mail</td>
                    <td class="doubt-field right"><input type="text" class="text" name="email" id="email" disabled></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field">Problem</td>
                    <td class="doubt-field right"></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field">Doubt</td>
                    <td class="doubt-field right"><textarea class="textarea" id="doubt" name="doubt" disabled></textarea></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field">Solution</td>
                    <td class="doubt-field right"><textarea class="textarea" id="solution" name="solution"></textarea></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field doubt-field-btn" colspan="2">
                        <input type="submit" class="btn" value="SEND">
                        <input type="reset" class="btn" value="CLEAR">
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="subscribers doubter">
    <table>
        <tr class="doubt-show">
            <th>S.No.</th>
            <th>Name</th>
            <th>Solve</th>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
        <tr class="doubt-show">
            <td></td>
            <td>Srajan Gupta</td>
            <td><input type="hidden" id="dbt " value='{"name":"Srajan Gupta","email":"srajan.oel@gmail.com","link":"www.google.com","language":"C++","doubt":"No Doubt"}'><button class="btn doubt ">Solve</button></td>
        </tr>
    </table>
</div>