<div class="msg">
    <button class="msg btn">SEND MAIL</button>
</div>
<div class="message">
    <div class="error">
        <h2>&nbsp;</h2>
    </div>
    <form action="/admin/subscriber-mail" name="subscriber-mail" method="post" onsubmit="return subscribers()">
        <div class="doubts">
            <table class="doubts">
                <tr class="doubt-field">
                    <td class="doubt-field">Subject</td>
                    <td class="doubt-field right"><input type="text" class="text" name="subject" id="subject"></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field">Mail Body</td>
                    <td class="doubt-field right"><textarea class="textarea" id="body" name="body"></textarea></td>
                </tr>
                <tr class="doubt-field">
                    <td class="doubt-field doubt-field-btn" colspan="2">
                        <input type="submit" class="btn" value="SEND">
                        <input type="reset" class="btn" value="CLEAR">
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="subscribers">
    <table>
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Remove</th>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Srajan Gupta</td>
            <td>srajan.oel@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Vikram Chaurasia</td>
            <td>sid779@gmail.com</td>
            <td></td>
        </tr>
    </table>
</div>