<div class="figures">
    <div class="figure">
        <div class="square">1
        </div>
        <div class="triangle">
            <h2>A2OJ</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">2
        </div>
        <div class="triangle">
            <h2>CodeForces</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">3
        </div>
        <div class="triangle">
            <h2>CodeChef</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">4
        </div>
        <div class="triangle">
            <h2>Spoj</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">5
        </div>
        <div class="triangle">
            <h2>Hackerrank</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">6
        </div>
        <div class="triangle">
            <h2>Hackerearth</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">7
        </div>
        <div class="triangle">
            <h2>Leetcode</h2>
        </div>
    </div>
    <div class="figure">
        <div class="square">8
        </div>
        <div class="triangle">
            <h2>CP-Algorithms</h2>
        </div>
    </div>
</div>