
<div class="meminfo">
    <div class="mem-name"></div>
    <div class="mem-img"></div>
    <div class="mem-profiles"></div>
    <div class="mem-achi"></div>
    <span class="close"><button>Close</button></span>
</div>
<div class="members">
    <div class="member mem1">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <input type="hidden" class="hiddata" value='{"name": "Srajan Gupta","profiles":{"stopstalk":"srajan_gupta","codeforces":"srajang_123","codechef":"srajang_123","hackerrank":"srajang_123","linkedin":"srajang123","github":"srajang123"},"achievements":"Infosys Certified,4 star on codechef,Specialist on codeforces,Winner of Innotech 2019 coding contest"}'>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
    <div class="member">
        <div class="logo"><img src="../img/srajan.jpg"></div>
        <div class="name">Srajan Gupta</div>
        <!--
        <div class="profiles">
            <div class="linkedin"><a href="/">LinkedIn</a></div>
            <div class="stopstalk"><a href="/">StopStalk</a></div>
        </div>-->
    </div>
</div>