<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KIET Koders Korner</title>
    <link rel="icon" href="./src/img/k3.jpg" type="img/jpg">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="header">
    <h1 class="title">KIET Koders Korner</h1>
    <span class="links">
    <ul class="links">
        {{#if basic}}
            <li class="link {{#if home}}active{{/if}}"><a href="./index.html">Home</a></li>
            <li class="link {{#if team}}active{{/if}}"><a href="./team.html">Team</a></li>
            <li class="link {{#if sources}}active{{/if}}"><a href="./sources.html">Sources</a></li>
            <li class="link {{#if doubts}}active{{/if}}"><a href="./doubts.html">Doubts</a></li>
            <li class="link {{#if contact}}active{{/if}}"><a href="./contact.html ">Contact Us</a></li>
        {{/if}}
        {{#if admin}}
            <li class="link {{#if home}}active{{/if}}"><a href="./index.html">Home</a></li>
            <li class="link {{#if team}}active{{/if}}"><a href="./team.html">Team</a></li>
            <li class="link {{#if subsciber}}active{{/if}}"><a href="./subscribers.html">Subscribers</a></li>
            <li class="link {{#if doubts}}active{{/if}}"><a href="./doubts.html">Doubts</a></li>
            <li class="link {{#if contact}}active{{/if}}"><a href="./contact.html ">Contact Us</a></li>
        {{/if}}
    </ul>
    </span>
    </div>
    <div class="body">
        {{body}}
    </div>
    <div class="footer">
        <h4>Website created by</h4>
        <h3>Srajan Gupta</h3>
        <h3>&copy; KIET Koders Korner</h5>
    </div>
</body>
<script src="index.js"></script>
<script src="contact.js"></script>

</html>